body
{
	font-family: sans-serif;
	background: url('banner.png') repeat-x;
}

#center
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	height: 80px;
	color: white;
}

#menu a
{
	color: white;
	text-decoration: none;
	background-color: #4970ff;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}

#menu a.current
{
	border: 1px solid #4970ff;
	background-color: white;
	color: #4970ff;
}

#settings
{
	display: table;
}
#settings div
{
		display: table-row
}

#settings label, #settings input
{
	display: table-cell;
	padding: 5px;
}

#shows
{
	display: table;
	width: 100%;
	border-bottom: 1px gray dashed;
	clear: both;
}

#shows div
{
	display: table-row;
	border-top: 1px gray dashed;
}

#shows div .name
{
	display: table-cell;
	width: 700px;
	padding: 5px;
}

#shows div .delete
{
	display: table-cell;
	width: 100px;
	height: 100%;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

a
{
	color: blue;
	text-decoration: none;
}

#letters
{
	display: table;
	width: 100%;
}

#letters a
{
	display: table-cell;
	width: 3.8%;
	text-align: center;
}

.synopsis
{
	font-size: small;
	font-style:	italic;
	color: gray;
}

#footer
{
	font-size: small;
	text-align: center;
}

#shows div .logo
{
	display: table-cell;
	width: 76px;
	height: 37px;
	background-repeat: no-repeat;
}

.radio
{
	background-image:url('http://static.bbc.co.uk/iplayer/3.33.1/img/radio_station_logos.png');
}

.tv
{
	background-image: url('http://static.bbc.co.uk/iplayer/3.33.1/img/tv_channel_logos.png');
}

/* below here is borrowed from the BBC iPlayer stylesheet. I have not asked permission, but am sure they aren't going to mind the free advertising. */

.logo-bbc_one, .logo-bbc_one_london { background-position: -304px 0; }
.logo-bbc_two, .logo-bbc_two_england { background-position: -532px 0; }
.logo-bbc_three { background-position: -456px 0; }
.logo-bbc_four { background-position: -76px 0; }
.logo-bbc_news, .logo-bbc_news24 { background-position: -228px 0; }
.logo-bbc_hd { background-position: -152px 0; }
.logo-bbc_parliament { background-position: -380px 0; }
.logo-cbbc { background-position: -608px 0; }
.logo-cbeebies { background-position: -684px 0; }
.logo-bbc_alba { background-position: 0 0; }
.logo-bbc_cymru { background-position: -760px 0; }
.logo-bbc_sport { background-position: -836px 0; }

.logo-bbc_1xtra { background-position: 0 0; }
.logo-bbc_6music { background-position: -116px 0; }
.logo-bbc_7 { background-position: -232px 0; }
.logo-bbc_asian_network { background-position: -348px 0; }
.logo-bbc_london { background-position: -464px 0; }
.logo-bbc_radio_berkshire { background-position: -580px 0; }
.logo-bbc_radio_bristol { background-position: -696px 0; }
.logo-bbc_radio_cambridge { background-position: -812px 0; }
.logo-bbc_radio_cornwall { background-position: -928px 0; }
.logo-bbc_radio_coventry_warwickshire { background-position: -1044px 0; }
.logo-bbc_radio_cumbria { background-position: -1160px 0; }
.logo-bbc_radio_cymru { background-position: -1276px 0; }
.logo-bbc_radio_derby { background-position: -1392px 0; }
.logo-bbc_radio_devon { background-position: -1508px 0; }
.logo-bbc_radio_essex { background-position: -1624px 0; }
.logo-bbc_radio_five_live { background-position: -1740px 0; }
.logo-bbc_radio_five_live_sports_extra { background-position: -1856px 0; }
.logo-bbc_radio_four { background-position: 0 -87px; }
.logo-bbc_radio_four_extra { background-position: -1276px -261px; }
.logo-bbc_radio_fourlw { background-position: 0 -87px; }
.logo-bbc_radio_fourfm { background-position: -116px -87px; }
.logo-bbc_radio_foyle { background-position: -232px -87px; }
.logo-bbc_radio_gloucestershire { background-position: -348px -87px; }
.logo-bbc_radio_guernsey { background-position: -464px -87px; }
.logo-bbc_radio_hereford_worcester { background-position: -580px -87px; }
.logo-bbc_radio_humberside { background-position: -696px -87px; }
.logo-bbc_radio_jersey { background-position: -812px -87px; }
.logo-bbc_radio_kent { background-position: -928px -87px; }
.logo-bbc_radio_lancashire { background-position: -1044px -87px; }
.logo-bbc_radio_leeds { background-position: -1160px -87px; }
.logo-bbc_radio_leicester { background-position: -1276px -87px; }
.logo-bbc_radio_lincolnshire { background-position: -1392px -87px; }
.logo-bbc_radio_manchester { background-position: -1508px -87px; }
.logo-bbc_radio_merseyside { background-position: -1624px -87px; }
.logo-bbc_radio_nan_gaidheal { background-position: -1740px -87px; }
.logo-bbc_radio_newcastle { background-position: -1856px -87px; }
.logo-bbc_radio_norfolk { background-position: 0 -174px; }
.logo-bbc_radio_northampton { background-position: -116px -174px; }
.logo-bbc_radio_nottingham { background-position: -232px -174px; }
.logo-bbc_radio_one { background-position: -348px -174px; }
.logo-bbc_radio_oxford { background-position: -464px -174px; }
.logo-bbc_radio_scotland { background-position: -580px -174px; }
.logo-bbc_radio_scotland_fm { background-position: -696px -174px; }
.logo-bbc_radio_sheffield { background-position: -812px -174px; }
.logo-bbc_radio_shropshire { background-position: -928px -174px; }
.logo-bbc_radio_solent { background-position: -1044px -174px; }
.logo-bbc_radio_somerset_sound { background-position: -1160px -174px; }
.logo-bbc_radio_stoke { background-position: -1276px -174px; }
.logo-bbc_radio_suffolk { background-position: -1392px -174px; }
.logo-bbc_radio_surrey { background-position: -1508px -174px; }
.logo-bbc_radio_sussex { background-position: -1624px -174px; }
.logo-bbc_radio_swindon { background-position: -1740px -174px; }
.logo-bbc_radio_three { background-position: -1856px -174px; }
.logo-bbc_radio_two { background-position: 0 -261px; }
.logo-bbc_radio_ulster { background-position: -116px -261px; }
.logo-bbc_radio_wales { background-position: -232px -261px; }
.logo-bbc_radio_wales_fm { background-position: -348px -261px; }
.logo-bbc_radio_wiltshire { background-position: -464px -261px; }
.logo-bbc_radio_york { background-position: -580px -261px; }
.logo-bbc_tees { background-position: -696px -261px; }
.logo-bbc_three_counties_radio { background-position: -812px -261px; }
.logo-bbc_wm { background-position: -928px -261px; }
.logo-bbc_world_service { background-position: -1044px -261px; }
