{% extends "base.djhtml" %}
{% block content %}
			<form method="post" action="{% url "settings" %}">
			<h2>Settings</h2>
			<div id="settings">
				{{ form.non_field_errors }}
				{% csrf_token %}
				<div>{{ form.ignorerepeats }}<label for="id_ignorerepeats">Ignore Repeats</label>{{ form.ignorerepeats.errors }}</div>
				<div>{{ form.email }}<label for="id_email">Email</label>{{ form.email.errors }}{{ form.email_address }}{{ form.email_address.errors }}</div>
				<div>{{ form.xmpp }}<label for="id_xmpp">XMPP/Jabber/GTalk</label>{{ form.xmpp.errors }}{{ form.xmpp_address }}{{ form.xmpp_address.errors }}</div>
			</div>
			<input type="submit">
			<p style="font-size:small">When enabling Google Talk, please remember to accept the chat request from iplayernotifier@jabber.org</p>
			</form>
			<h2>Subscriptions</h2>
			<div id="shows">
			{% for show in form.instance.user.subscription_set.all %}
				<div onmouseover="style.background='#dbebff'" onmouseout="style.background='white'">
					<div class="name">{{ show.programme.name }}</div>
					<div class="delete"><a href="{% url 'remove' id=show.programme.id %}">delete</a></div>
				</div>
			{% endfor %}
			</div>
{% endblock %}